/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Header*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    height: 100vh;
    background-color: #2c200a;
}

.site-title h1{
    font-weight: 700;
    font-family: "lora", "san-serif";
    color: #ff7200;
    font-size: 2rem;
    margin: 0;
}

.catchphrase {
    font-weight: 700;
    font-family: "lora", "san-serif";
    color: #ff7200;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
}

.container {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: bla;
    padding: 2em 0;
    box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.19);
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }

    header {
        text-align: center;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: wheat;
    font-weight: 600;
    text-transform: capitalize;
    padding: 2em 0;
}

nav a:hover,
nav a:focus {
    color: beige;
}

.current-page {
    color:#ff7200;
}

.current-page:hover {
    color:#ff7200;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: 0.5em 0;
    }
}

/*Home page*/
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h3 {
    font-weight: 700;
    color: white;
    font-family: "Lora", sans-serif;
}

.landing-text h1 {
    font-size: 450%;
    font-weight: 700;
    color: white;
    font-family: "Lora", sans-serif;
    padding-bottom: 0;
    margin: 0 0;
}

@media (max-width: 675px) {
    .landing-text h1 {
        font-size: 260%;
    }
}

.btn-hire {
    background-color:#57321c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 43px;
    transition: all 0.3s ease;
}

.btn-hire:hover,
.btn-hire:focus {
    background-color: #ff7200;
}

@media (max-width: 800px) {
    .btn-hire {
        padding: 8px 16px;
    }
}

#hr-main {
    width: 100%;
    height: 5px;
    border-radius: 1rem;
    background-color: white;
    margin-bottom: 8px;
}

/*Services*/
.slider {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid black;
}

.card {
    border-radius: 25px;
    background-color:sienna;
}

.slide-content {
    margin: 0 40px;
    background-color: beige;
    overflow: hidden;
    border-radius: 25px;
}

.image-content,
.card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service {
    font-size: 20px;
    font-weight: 500;
    color: white;
    font-family: "Lora", sans-serif;
}

.price {
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: "Lora", sans-serif;
}

.image-content {
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}

.button-service {
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: #57321c;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-service:hover {
    background:#ff7200;
}

.overlay-servicers {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:#57321c;
    left: 0;
    top: 0;
    border-radius: 25px 25px 0 25px;
}

.overlay-servicers::before,
.overlay-servicers::after {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    background-color: #57321c;
    right: 0;
    bottom: -40px;
}

.overlay-servicers::after {
    border-radius: 0 25px 0 0;
    background-color: sienna;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    background-color: beige;
    padding: 40px 0;
}

.swiper-navBtn {
    color: black;
}

.swiper-navBtn:hover {
    color:#ff7200;
    transition: all 0.3s ease;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
} 

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: black;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: wheat;
}

@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }
    .slider-content {
        margin: 0 10px;
    }
}

/*Barbers page*/
.team-header {
    text-align: center;
    padding: 32px;
}

.team-header h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3.2rem;
    color: white;
}

.team p {
    font-weight: 600;
    color: white;
}

.team .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 14px;
}

@media (max-width: 600px) {
    .team h1 {
        font-size: x-large;
    }
}

.team .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 6px;
}

.team .column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}

.team .column h3 {
    font-weight: 600;
    font-family: "Lora", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 3px;
}

.team .column p {
    font-weight: 400;
    color: white;
    text-align: center;
}

@media (max-width: 800px) {
    .team .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .team .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


